* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: auto;
  background: #000000;
  overflow-y: scroll;
}
.main {
  margin: auto;
  width: 100%;
  max-width: 1500px;
  height: auto;
}
@media only screen and (max-width: 1400px) {
  .main {
    padding: 0 0.5rem;
  }
}

/* !Media query a partir de 568px */
@media only screen and (min-width: 568px) {
  * {
    font-size: 16px;
  }
}
/* !Media query a partir de 768px */
@media only screen and (min-width: 868px) {
  * {
    font-size: 18px;
  }
}
/* !Media query a partir de 768px */
@media only screen and (min-width: 1366px) {
  * {
    font-size: 20px;
  }
}
